
{% extends 'web/base.html' %}
{% load humanize %}
{% block titulo %}
    Lista Chalets
{% endblock titulo %}
    
{% block contenido %}
    <!-- Subheader -->
    <section id="subheader" class="no-padding sub-header-border">
        <div class="container">
            <div class="row">
                <div class="sub-header-warp">
                    <h3 class="title-subheader">
                    Catalogo Chalets</h3>
                    <ol class="breadcrumb">
                        <li>Situado: </li>
                        <li>
                            <a href="{% url 'web:index' %}">Inicio     </a>
                        </li>
                        
                        <li class="active">Chalets</li>
                    </ol>
                </div>
            </div>
        </div>
      </section>
      <!-- /Subheader -->

      <!-- Main Content -->
      <section id="main-content">
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <div class="header-shop">
                      <div class="left-header-shop">
                          <h3>Catalogo Chalets</h3>
                          <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                          tempor incididunt ut labore et dolore magna aliqua.</p> -->
                      </div>
                      <div class="order-select">
                          <h6>Ordenar por</h6>
                          <!-- <p>Showing 1–12 of 25 results</p> -->
                          <form method="get">
                            {%for key, values in request.GET.lists%}
                            {%for value in values%}
                            {% if key == 'order_by_mixed' %}
                            {% else %}
                            <input type="hidden" name="{{key}}" id="" value="{{value}}">
                            {% endif %}
                            {%endfor%}
                            {%endfor%}
                           <select name="order_by_mixed">
                               <option value="default">Ordenamiento por default</option>
                               <option value="max-min" {% if view.request.GET.order_by_mixed == 'max-min' %}selected{% endif %}>Mayor precio</option>
                               <option value="min-max" {% if view.request.GET.order_by_mixed == 'min-max' %}selected{% endif %}>Menor precio</option>
                               <option value="newDate" {% if view.request.GET.order_by_mixed == 'newDate' %}selected{% endif %}>Mas nuevo</option>
                               <option value="oldDate" {% if view.request.GET.order_by_mixed == 'oldDate' %}selected{% endif %}>Mas antiguo</option>
                               
                           </select>
                       </form>
                      </div>
                      <div class="order-select">
                          <h6>Ordenar por precio</h6>
                          <p>De {{min_price.chalet_costo__min}}$ - {{max_price.chalet_costo__max}}$</p>
                          <form method="get">                            
                            <label for="rango_input" id="demo">Example range</label>
                            <input name="order_by_range_price" value="{{view.request.GET.order_by_range_price}}" type="range" class="custom-range" min="{{min_price.chalet_costo__min}}" max="{{max_price.chalet_costo__max}}"  id="rango_input">
                            {%for key, values in request.GET.lists%}
                            {%for value in values%}
                            {% if key == 'order_by_range_price' %}
                            {% else %}
                            <input type="hidden" name="{{key}}" id="" value="{{value}}">
                            {% endif %}
                            {%endfor%}
                            {%endfor%}
                       </form>
                      </div>
                      </div>
                  </div>
                  <div class="main-shop">

                    
                    

                    <div class="row">
                    {% for item in object_list %}   
                    <div id="list-blog" class="list-blog-warp">
                        <div class="col-sm-6">
                        <div class="item-blog blog-single-feature-img">
                            <div class="blog-feature-warp">
                                <span class="product-new">NEW</span>
                                <a href="{% url 'web:chalet-single' item.chalet_id %}">
                                <img src="{{item.chalet_imagen.url}}" class="img-responsive" alt="Image">
                                </a>
                            </div>
                            <div class="blog-feature-content">
                                <div class="blog-feature-content-inner">
                                 <div class="blog-data">
                                     <div class="date-time bg-theme">
                                         <span class="date">{{item.chalet_creado|date:"d"}}</span>
                                         <span class="month">{{item.chalet_creado|date:"M"}}</span>
                                     </div>
                                     <div class="blog-type">
                                         <h5 style="color: white !important; text-align: center; padding-top: 15px;">{{item.chalet_creado|date:"Y"}}</h5>
                                         <!-- <img src="http://placehold.it/20x24/ccc.jpg" class="img-responsive" alt="Image"> -->
                                     </div>
                                 </div>
                                 <div class="blog-text">
                                     <a href="{% url 'web:chalet-single' item.chalet_id %}"><h4 class="hover-text-theme">{{item.chalet_titulo}}</h4></a>
                                     <p>{{item.chalet_descripcion}}</p>
                                     <a href="{% url 'web:chalet-single' item.chalet_id %}" class="readmore hover-text-theme">[Saber mas]</a>
                                 </div>
                             </div>
                             <div class="blog-footer-2 border-color-theme">
                                 <ul>
                                     <li>{{item.get_chalet_tipo_display}}</a></li>
                                     <li>{{item.chalet_costo|intcomma}}</li>
                                     <!-- <li><a href="#" class="hover-text-theme">Comment 12</a></li> -->
                                 </ul>
                             </div>
                         </div>
                        </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                        


                  </div>
              </div>
          </div>
      </section>
      <!-- /Main Content -->

      <!-- Footer Shop -->
      <section class="bg-light-grey">
          <div class="container">
              <div class="row">
               <div class="col-md-4">
                   <div class="icon-box effect small clean">
                       <div class="icon">
                           <a href="#"><i class="fa fa-gift"></i></a>
                       </div>
                       <h3>Free shipping on orders $60+</h3>
                       <p>Order more than 60$ and you will get free shippining Worldwide. More info.</p>
                   </div>
               </div>

               <div class="col-md-4">
                   <div class="icon-box effect small clean">
                       <div class="icon">
                           <a href="#"><i class="fa fa-plane"></i></a>
                       </div>
                       <h3>Worldwide delivery</h3>
                       <p>We deliver to the following countries: USA, Canada, Europe, Australia</p>
                   </div>
               </div>

               <div class="col-md-4">
                   <div class="icon-box effect small clean">
                       <div class="icon">
                           <a href="#"><i class="fa fa-history"></i></a>
                       </div>
                       <h3>60 days money back guranty!</h3>
                       <p>Not happy with our product, feel free to return it, we will refund 100% your money!</p>
                   </div>
               </div>
           </div>
          </div>
      </section>
      <!-- /Footer Shop -->
{% endblock contenido %}


{% block script %}
<script>
    var slider = document.getElementById("rango_input");
    var output = document.getElementById("demo");
    output.innerHTML = slider.value;
    
    slider.oninput = function() {
      output.innerHTML = this.value;
    }


    $('form').on('change', function () {
        this.submit()
    });

    </script>
{% endblock script %}
    
