{% extends 'web/base.html' %}
{% load static %}


{% block contenido %}

<!-- Slider -->
<section class="no-padding">
    <div id="full-slider-wrapper">
        <div id="layerslider" class="slider1" style="width:100%;height:500px;max-width: 1920;">

            {% for item in portadas %}
            <div class="ls-slide" data-ls="transition2d: 1;durationin:500">
                <img class="ls-bg" src="{{item.chalet_imagen.url}}" alt="Image">
                <!-- <img class="ls-l" src="{{item.chalet_imagen_sec.url}}" alt="Image"
                    style="top: 10px; left: 70%; width: 700; height: 532;"
                    data-ls="offsetxin:100;delayin:1000;offsetyout:0;offsetxout:100;durationin:500"> -->
                <h2 class="ls-l box-title" style="top:70px;left:0px">Privada</h2>
                <h3 class="ls-l t-stroke-shadow" style="top:115px;left:0px"
                    data-ls="offsetxin:0;offsetyin:100;delayin:400;offsetxout:0;offsetyout:-100;durationin:500">
                    {{item.chalet_titulo}}</h3>
                

                <p class="ls-l subtitle-index" style=" top:200px;left:0;"
                    data-ls="offsetxin:0;offsetyin:100;delayin:600;offsetxout:0;offsetyout:-100;durationin:500">
                    {{item.chalet_descripcion}}</p>
                <a href="#" class="ls-l ot-btn btn-main-color btn-rounded text-up white-text" style=" top:315px;left:0;"
                    data-ls="offsetxin:0;offsetyin:100;delayin:800;offsetxout:0;offsetyout:-100;durationin:500">Saber
                    mas<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
            </div>
            {% endfor %}





        </div>
    </div>
</section>
<!-- /Slider -->

<!-- icon box -->
<section id="iconbox" class="dskt-padding-55">
    <div class="container">
        <div class="row">
            <div class="header-iconbox">
                <h3 class="text-cap text-center titulo-principal">CONOCE NUESTRAS CASAS.</h3>
                <!-- <p class="text-center des-text">Phasellus id lacus neque. Proin vestibulum leo at turpis rhoncus, sed lacinia sem mollis. Etiam cursus bibendum dictum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam auctor eu nunc nec facilisis. Duis in felis eget eros tristique ornare. Maecenas volutpat, nisi id pretium imperdiet, odio neque pellentesque erat.</p> -->
            </div>
            <div class="iconbox-set-1-warp">
                
                {% for item in chalets %}                    
                <div class="col-md-3">
                    <div class="item">
                        <div class="project-item text-center">
                            <div class="project-item-img-container">
                                <img src="{{item.chalet_imagen.url}}" class="img-responsive" alt="Image">
                                <!-- Overlay -->
                                <div class="overlay-1 hover-border-theme">
                                    <a href="{% url 'web:chalet-single' item.chalet_id %}">
                                        <i class="fa fa-link hover-border-theme "></i>
                                    </a>

                                    <a class="single-img-popup" href="{{item.chalet_imagen.url}}"><i
                                            class="fa fa-expand hover-border-theme "></i></a>
                                </div>
                                <!-- /overlay -->
                            </div>
                            <a href="{% url 'web:chalet-single' item.chalet_id %}">
                                <h4 class="hover-text-theme">{{item.chalet_titulo}}</h4>
                            </a>
                            <p>{{item.chalet_descripcion|truncatechars:30}}</p>
                            
                            <a class="btn btn-info" href="{% url 'web:chalet-single' item.chalet_id %}" role="button">Mas</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                    








            </div>
        </div>
    </div>
</section>
<!-- /icon box -->



<iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3795.0125566442534!2d-92.93179038580392!3d17.978152790231185!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85edd9d2d19c3159%3A0x6d810d2d43ea6e79!2sAv%20Paseo%20de%20la%20Sierra%20611b%2C%20Reforma%2C%2086090%20Villahermosa%2C%20Tab.!5e0!3m2!1ses!2smx!4v1597430460328!5m2!1ses!2smx"
    width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
    tabindex="0"></iframe>




{% endblock contenido %}